<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoursquareExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3589C8D1CD3AA64009B26AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3589CA11CD3AA64009B26AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3589CAC1CD3AA64009B26AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
